<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /~dath13/phpmvc/kmom07/karin

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>
