/**
* Description: Sample theme for site which extends the Lydia grid-theme.
*/
@import url(../../../themes/grid/style.css);

html{background-color:#CCCC33;}
body{background-color:#CCFFCC;}
#outer-wrap-header{background-color:#CCCC33;border-bottom:2px solid #FFCE80}
#outer-wrap-footer{background-color:#CCCC33}
a{color:#436370}
#navbar ul.menu li a.selected{background-color:#D0DCE1;border-bottom:none;}
